[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "submodules/box2d"]
	path = submodules/box2d
	url = https://github.com/erincatto/box2d
[submodule "submodules/freetype"]
	path = submodules/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/imgui"]
    path = submodules/imgui
    url = https://github.com/ocornut/imgui
[submodule "submodules/libsndfile"]
    path = submodules/libsndfile
    url = https://github.com/libsndfile/libsndfile
[submodule "submodules/openal"]
	path = submodules/openal
	url = https://github.com/kcat/openal-soft
[submodule "submodules/shaderc"]
	path = submodules/shaderc
	url = https://github.com/google/shaderc
[submodule "submodules/spirv-cross"]
	path = submodules/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "submodules/spirv-tools"]
	path = submodules/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "submodules/spirv-headers"]
	path = submodules/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "submodules/glslang"]
	path = submodules/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest
[submodule "submodules/re2"]
	path = submodules/re2
	url = https://github.com/google/re2
[submodule "submodules/effcee"]
	path = submodules/effcee
	url = https://github.com/google/effcee
